<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Casey Brant - 2017 Media list</title>

    <link rel="stylesheet" href="mbg2017.css">
  </head>
  <body>
    <main>
      <header>
        <h1>Media I Consumed in 2017</h2>
      </header>

      <section id="the-list">
        <% 12.times do |month| %>
          <% if @entries_by_month[month] %>
            <section class="month">
              <h2><%= Date::MONTHNAMES[month] %></h3>

              <% @entries_by_month[month].each do |entry| %>
                <div class="entry" id="<%= unique_id_for(entry) %>">
                  <div class="cover-and-title">
                    <div class="cover">
                      <img src="<%= entry['image_url'] %>">
                    </div>
                    <div class="title">
                      <a href="<%= '#' + unique_id_for(entry) %>">
                        <h3>
                          <%= icon_for_a(entry['type']) %>
                          <%= entry['title'] %>
                        </h3>
                      </a>
                    </div>
                    <% if entry['author'] %>
                      <div class="author">by <%= entry['author'] %></div>
                    <% end %>
                  </div>
                  <div class="thoughts">
                    <%= entry['thoughts'] %>
                  </div>
                </div>
              <% end %>
            </section>
          <% end %>
        <% end %>
      </section>
    </main>
  </body>
</html>
